/.sencha/
/examples/aria/.sencha/
/examples/charts-kitchensink/.sencha/
/examples/desktop/.sencha/
/examples/executive-dashboard/.sencha/
/examples/kitchensink/.sencha/
/examples/portal/.sencha/
/examples/responsive-app/.sencha/
/examples/simple-tasks/.sencha/
/examples/ticket-app/.sencha/
/packages/ext-aria/.sencha/
/packages/ext-charts/.sencha/
/packages/ext-locale/.sencha/
/packages/ext-theme-aria/.sencha/
/packages/ext-theme-base/.sencha/
/packages/ext-theme-classic-sandbox/.sencha/
/packages/ext-theme-classic/.sencha/
/packages/ext-theme-crisp-touch/.sencha/